{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>

{% block content %}
  <div class="form-container">
    <h2>Reset Password</h2>
    <form method="POST">
      {% csrf_token %}
      <input type="password" name="password" placeholder="Enter new password" required>
      <input type="password" name="confirm_password" placeholder="Confirm new password" required>
      <button type="submit">Reset Password</button>
    </form>
  </div>
{% endblock %}
